
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="card mb-3">
        <div class="card-body border-dark">
            <div class="text-center">
                <a href="{% url 'platform-detail-page' platform.pk %}" title="Read More">
                    <h5 class="card-header ">{{ platform.platform }}</h5>
                </a>
            </div>
        </div>
    </div>
</body>
</html>


