{% extends "base.html" %}

{% block content %}
    <head>
        <title>Accounts</title>
    </head>
    {% if user.is_authenticated %}
    <h3>Platforms</h3>
    <hr>
    <a href="{% url 'platform-create-page' %}">Add Account</a>
    {% if platforms %}
        <div class="card-columns">
            {% for platform in platforms %}
                {% include 'partials/card.html' %}
            {% endfor %}
        </div>
    {% else %}
        <div class='alert alert-primary' role="alert">No accounts to display</div>
    {% endif %}
    {% else %}
    <h1>Please log in to view your accounts</h1>
    {% endif %}
{% endblock %}